
{% extends "layout.html" %}

{% block content %}
    <section class="touristStuff menu-box">
      <header>
        <h3></h3>
      </header>
      <label for="hotels">
        Hotels
      </label>
      <select>
        {% for hotel in all_hotels  %}
          <option name="hotels" value="{{ hotel.name }}">{{ hotel.name }}</option>
        {%endfor%}
      </select>
      <button name="hotels" class="btn btn-remove">
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" aria-label="Delete a restaurant"></span>
      </button>
      <label for="restaurants">
        Restaurants
      </label>
      <select>
        {% for restaurant in all_restaurants  %}
          <option name="restaurants" value="{{ restaurant.name }}">{{ restaurant.name }}</option>
        {%endfor%}
      </select>
      <button name="restaurants" class="btn btn-remove">
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" aria-label="Delete a restaurant"></span>
      </button>

      <label for="activities">
        Things to do
      </label>
      <select>
        {% for activity in all_activities  %}
          <option name="activities" value="{{ activity.name }}">{{ activity.name }}</option>
        {%endfor%}
      </select>
      <button name="activities" class="btn btn-remove">
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" aria-label="Delete a restaurant"></span>
      </button>
      <h4 class="menu-label">Add an event to the plan...</h4>
    </section>

    <section class="myTrip menu-box">
      <header class="day">
        <h3>DAY X</h3>
      </header>
      <div class="daySelector">
        <button class="btn">1</button>
        <button class="btn">2</button>
        <button class="btn">3</button>
        <button class="btn">+</button>
      </div>
      <div class="todo">
        <h4 class="">My Hotel</h4>
        <ul>
        <li>Hotel</li>
        <li><button class="btn btn-remove"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" aria-label="Delete a restaurant"></span></button></li>
        </ul>
        <h4>My Restaurants</h4>
        <div>
          My Restaurants
          <button class="btn btn-remove"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" aria-label="Delete a restaurant"></span></button>
        </div>

        <h4>My Activities</h4>
        <ul>
          <li>My Activities<button class="btn btn-remove"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" aria-label="Delete a restaurant"></span></button></li>
        </ul>
      </div>
      <h4 class="menu-label">View your itinerary for the day...</h4>
    </section>
  <section id="map-canvas">
  </section>


  {% endblock %}